// Fonts

$fuetePrincipal: "Poppins", serif;

// colors
// Theme Dark

$dbg2: #202c45;
$dbg1: #2e3440;
$dnum: #d8dee9;
$dbgnumber: #476385;
$dbgoperator: #5c8685;


//Theme Ligth

$lbg1: #fdc1ba;
$lbg2: #edbad1;
$lnum: #fff;
$lbgnumber: #8295c2;
$lbgoperator: #a2d2e2;